<h1>Product Database</h1>

<p>Product List</p>

<form action="/" method="post">
  <label for="name">Enter Product Name:</label>
  <input id="name" name="name" type="text">

  <label for="price">Enter Product Price:</label>
  <input id="price" name="price" type="number">

  <button type="submit">Add Product</button>
</form>
