<h3>Point of Sale System</h3>

<ul>
<li><a href='/products'>Add Product to inventory.</a></li>
<br>
<% if @products.any?() %>
<li><a href='/purchases'>Create a purchase order.</a></li>
<% end %>
</ul>
